<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>NTLC Jewelry</title>
    <link href="./jewelry.css" rel="stylesheet">
</head>
<body>
    <header>
        <h1>NTLC</h1>
        <div class="icon-container">
            <div id="cart-button">
                <img class="head-icons" src="../public/images/cart-icon.png" alt="Cart Icon">
                <span id="cart-count" class="cart-count">0</span>
            </div>
            <img class="head-icons" src="../public/images/search-icon.png" alt="Search Icon">
            <a href="connection.html"><img class="head-icons" src="../public/images/user-icon.png" alt="User Icon" id="userIcon"></a>
            
        </div>
    </header>

    <nav>
        <ul>
            <li><a href="#home" id="home-link">Home</a></li>
            <li><a href="#about">About Us</a></li>
            <li>
                <a href="#shop" id="shop">Shop</a>
                <div id="options" class="hidden">
                    <p><a href="#" id="showNecklaces">Necklaces</a></p>
                    <p><a href="#" id="showRings">Rings</a></p>
                    <p><a href="#" id="showBracelets">Bracelets</a></p>
                    <p><a href="#" id="showEarrings">Earrings</a></p>
                </div>
            </li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>

    <main>
        <section id="home" class="hero">
            <div class="hero-content">
                <h2>Welcome to NTLC Jewelry</h2>
                <p>Your one-stop shop for exquisite jewelry pieces. Explore our collection and find the perfect piece to adorn yourself or your loved ones.</p>
            </div>
        </section>

        <section id="about">
            <h2>About Us</h2>
            <p>At NTLC Jewelry, we pride ourselves on offering high-quality, handcrafted jewelry. Our artisans are dedicated to creating unique designs that stand the test of time.</p>
        </section>

        <section id="shop">

            <div id="productGrid-necklaces" class="product-grid">
                <div class="product">
                    <img src="../public/images/necklaces/icon_necklace1.avif" alt="necklaceImg">
                    <div class="product-title">Necklace</div>
                    <div class="product-price">₪329.00</div>
                    <button type="button" class="btn btn-info add-to-cart">Add To Bag</button>
                </div>
                <div class="product">
                    <img src="../public/images/necklaces/icon_necklace10.avif" alt="necklaceImg">
                    <div class="product-title">Necklace</div>
                    <div class="product-price">₪299.00</div>
                    <button type="button" class="btn btn-info add-to-cart">Add To Bag</button>
                </div>
                <div class="product">
                    <img src="../public/images/necklaces/icon_necklace5.avif" alt="necklaceImg">
                    <div class="product-title">Necklace</div>
                    <div class="product-price">₪299.00</div>
                    <button type="button" class="btn btn-info add-to-cart">Add To Bag</button>
                </div>
                <div class="product">
                    <img src="../public/images/necklaces/icon_necklace12.avif" alt="necklaceImg">
                    <div class="product-title">Necklace</div>
                    <div class="product-price">₪599.00</div>
                    <button type="button" class="btn btn-info add-to-cart">Add To Bag</button>
                </div>
                <div class="product">
                    <img src="../public/images/necklaces/icon_necklace9.avif" alt="necklaceImg">
                    <div class="product-title">Necklace</div>
                    <div class="product-price">From ₪299.00</div>
                    <button type="button" class="btn btn-info add-to-cart">Add To Bag</button>
                </div>
                <div class="product">
                    <img src="../public/images/necklaces/icon_necklace2.avif" alt="necklaceImg">
                    <div class="product-title">Necklace</div>
                    <div class="product-price">From ₪299.00</div>
                    <button type="button" class="btn btn-info add-to-cart">Add To Bag</button>
                </div>
                <div class="product">
                    <img src="../public/images/necklaces/icon_necklace3.avif" alt="necklaceImg">
                    <div class="product-title">Necklace</div>
                    <div class="product-price">From ₪299.00</div>
                    <button type="button" class="btn btn-info add-to-cart">Add To Bag</button>
                </div>
                <div class="product">
                    <img src="../public/images/necklaces/icon_necklace4.avif" alt="necklaceImg">
                    <div class="product-title">Necklace</div>
                    <div class="product-price">From ₪299.00</div>
                    <button type="button" class="btn btn-info add-to-cart">Add To Bag</button>
                </div>
                <div class="product">
                    <img src="../public/images/necklaces/icon_necklace11.avif" alt="Soleil">
                    <div class="product-title">Necklace</div>
                    <div class="product-price">From ₪299.00</div>
                    <button type="button" class="btn btn-info add-to-cart">Add To Bag</button>
                </div>
                <div class="product">
                    <img src="../public/images/necklaces/icon_necklace13.avif" alt="Soleil">
                    <div class="product-title">Necklace</div>
                    <div class="product-price">From ₪299.00</div>
                    <button type="button" class="btn btn-info add-to-cart">Add To Bag</button>
                </div>
                <div class="product">
                    <img src="../public/images/necklaces/icon_necklace8.avif" alt="necklaceImg">
                    <div class="product-title">Necklace</div>
                    <div class="product-price">From ₪299.00</div>
                    <button type="button" class="btn btn-info add-to-cart">Add To Bag</button>
                </div>
                <div class="product">
                    <img src="../public/images/necklaces/icon_necklace7.avif" alt="necklaceImg">
                    <div class="product-title">Necklace</div>
                    <div class="product-price">From ₪299.00</div>
                    <button type="button" class="btn btn-info add-to-cart">Add To Bag</button>
                </div>
            </div>


            <div id="productGrid-rings" class="product-grid">
                <div class="product">
                    <img src="../public/images/rings/icon_ring10.avif" alt="ringImg">
                    <div class="product-title">Ring</div>
                    <div class="product-price">₪329.00</div>
                    <button type="button" class="btn btn-info add-to-cart">Add To Bag</button>
                </div>
                <div class="product">
                    <img src="../public/images/rings/icon_ring11.avif" alt="ringImg">
                    <div class="product-title">Ring</div>
                    <div class="product-price">₪299.00</div>
                    <button type="button" class="btn btn-info add-to-cart">Add To Bag</button>
                </div>
                <div class="product">
                    <img src="../public/images/rings/icon_ring12.avif" alt="ringImg">
                    <div class="product-title">Ring</div>
                    <div class="product-price">₪299.00</div>
                    <button type="button" class="btn btn-info add-to-cart">Add To Bag</button>
                </div>
                <div class="product">
                    <img src="../public/images/rings/icon_ring13.avif" alt="ringImg">
                    <div class="product-title">Ring</div>
                    <div class="product-price">₪599.00</div>
                    <button type="button" class="btn btn-info add-to-cart">Add To Bag</button>
                </div>
                <div class="product">
                    <img src="../public/images/rings/icon_ring2.avif" alt="ringImg">
                    <div class="product-title">Ring</div>
                    <div class="product-price">From ₪299.00</div>
                    <button type="button" class="btn btn-info add-to-cart">Add To Bag</button>
                </div>
                <div class="product">
                    <img src="../public/images/rings/icon_ring3.avif" alt="ringImg">
                    <div class="product-title">Ring</div>
                    <div class="product-price">From ₪299.00</div>
                    <button type="button" class="btn btn-info add-to-cart">Add To Bag</button>
                </div>
                <div class="product">
                    <img src="../public/images/rings/icon_ring4.avif" alt="ringImg">
                    <div class="product-title">Ring</div>
                    <div class="product-price">From ₪299.00</div>
                    <button type="button" class="btn btn-info add-to-cart">Add To Bag</button>
                </div>
                <div class="product">
                    <img src="../public/images/rings/icon_ring5.avif" alt="ringImg">
                    <div class="product-title">Ring</div>
                    <div class="product-price">From ₪299.00</div>
                    <button type="button" class="btn btn-info add-to-cart">Add To Bag</button>
                </div>
                <div class="product">
                    <img src="../public/images/rings/icon_ring6.avif" alt="ringImg">
                    <div class="product-title">Ring</div>
                    <div class="product-price">From ₪299.00</div>
                    <button type="button" class="btn btn-info add-to-cart">Add To Bag</button>
                </div>
                <div class="product">
                    <img src="../public/images/rings/icon_ring7.avif" alt="ringImg">
                    <div class="product-title">Ring</div>
                    <div class="product-price">From ₪299.00</div>
                    <button type="button" class="btn btn-info add-to-cart">Add To Bag</button>
                </div>
                <div class="product">
                    <img src="../public/images/rings/icon_ring8.avif" alt="ringImg">
                    <div class="product-title">Ring</div>
                    <div class="product-price">From ₪299.00</div>
                    <button type="button" class="btn btn-info add-to-cart">Add To Bag</button>
                </div>
                <div class="product">
                    <img src="../public/images/rings/icon_ring9.avif" alt="ringImg">
                    <div class="product-title">Ring</div>
                    <div class="product-price">From ₪299.00</div>
                    <button type="button" class="btn btn-info add-to-cart">Add To Bag</button>
                </div>
            </div>

            
            <div id="productGrid-earrings" class="product-grid">
                <div class="product">
                    <img src="../public/images/earings/icon_earring1.avif" alt="earringsImg">
                    <div class="product-title">Earrings</div>
                    <div class="product-price">₪329.00</div>
                    <button type="button" class="btn btn-info add-to-cart">Add To Bag</button>
                </div>
                <div class="product">
                    <img src="../public/images/earings/icon_earring10.avif" alt="earringsImg">
                    <div class="product-title">Earrings</div>
                    <div class="product-price">₪299.00</div>
                    <button type="button" class="btn btn-info add-to-cart">Add To Bag</button>
                </div>
                <div class="product">
                    <img src="../public/images/earings/icon_earring11.avif" alt="earringsImg">
                    <div class="product-title">Earrings</div>
                    <div class="product-price">₪299.00</div>
                    <button type="button" class="btn btn-info add-to-cart">Add To Bag</button>
                </div>
                <div class="product">
                    <img src="../public/images/earings/icon_earring12.avif" alt="earringsImg">
                    <div class="product-title">Earrings</div>
                    <div class="product-price">₪599.00</div>
                    <button type="button" class="btn btn-info add-to-cart">Add To Bag</button>
                </div>
                <div class="product">
                    <img src="../public/images/earings/icon_earring13.avif" alt="earringsImg">
                    <div class="product-title">Earrings</div>
                    <div class="product-price">From ₪299.00</div>
                    <button type="button" class="btn btn-info add-to-cart">Add To Bag</button>
                </div>
                <div class="product">
                    <img src="../public/images/earings/icon_earring2.avif" alt="earringsImg">
                    <div class="product-title">Earrings</div>
                    <div class="product-price">From ₪299.00</div>
                    <button type="button" class="btn btn-info add-to-cart">Add To Bag</button>
                </div>
                <div class="product">
                    <img src="../public/images/earings/icon_earring3.avif" alt="earringsImg">
                    <div class="product-title">Earrings</div>
                    <div class="product-price">From ₪299.00</div>
                    <button type="button" class="btn btn-info add-to-cart">Add To Bag</button>
                </div>
                <div class="product">
                    <img src="../public/images/earings/icon_earring4.avif" alt="earringsImg">
                    <div class="product-title">Earrings</div>
                    <div class="product-price">From ₪299.00</div>
                    <button type="button" class="btn btn-info add-to-cart">Add To Bag</button>
                </div>
                <div class="product">
                    <img src="../public/images/earings/icon_earring5.avif" alt="earringsImg">
                    <div class="product-title">Earrings</div>
                    <div class="product-price">From ₪299.00</div>
                    <button type="button" class="btn btn-info add-to-cart">Add To Bag</button>
                </div>
                <div class="product">
                    <img src="../public/images/earings/icon_earring6.avif" alt="earringsImg">
                    <div class="product-title">Earrings</div>
                    <div class="product-price">From ₪299.00</div>
                    <button type="button" class="btn btn-info add-to-cart">Add To Bag</button>
                </div>
                <div class="product">
                    <img src="../public/images/earings/icon_earring8.avif" alt="earringsImg">
                    <div class="product-title">Earrings</div>
                    <div class="product-price">From ₪299.00</div>
                    <button type="button" class="btn btn-info add-to-cart">Add To Bag</button>
                </div>
                <div class="product">
                    <img src="../public/images/earings/icon_earring9.avif" alt="earringsImg">
                    <div class="product-title">Earrings</div>
                    <div class="product-price">From ₪299.00</div>
                    <button type="button" class="btn btn-info add-to-cart">Add To Bag</button>
                </div>
            </div>

            
            <div id="productGrid-bracelets" class="product-grid">
                <div class="product">
                    <img src="../public/images/bracelets/icon_bracelet1.avif" alt="braceletsImg">
                    <div class="product-title">Bracelets</div>
                    <div class="product-price">₪329.00</div>
                    <button type="button" class="btn btn-info add-to-cart">Add To Bag</button>
                </div>
                <div class="product">
                    <img src="../public/images/bracelets/icon_bracelet10.avif" alt="braceletsImg">
                    <div class="product-title">Bracelets</div>
                    <div class="product-price">₪299.00</div>
                    <button type="button" class="btn btn-info add-to-cart">Add To Bag</button>
                </div>
                <div class="product">
                    <img src="../public/images/bracelets/icon_bracelet11.avif" alt="braceletsImg">
                    <div class="product-title">Bracelets</div>
                    <div class="product-price">₪299.00</div>
                    <button type="button" class="btn btn-info add-to-cart">Add To Bag</button>
                </div>
                <div class="product">
                    <img src="../public/images/bracelets/icon_bracelet12.avif" alt="braceletsImg">
                    <div class="product-title">Bracelets</div>
                    <div class="product-price">₪599.00</div>
                    <button type="button" class="btn btn-info add-to-cart">Add To Bag</button>
                </div>
                <div class="product">
                    <img src="../public/images/bracelets/icon_bracelet13.avif" alt="braceletsImg">
                    <div class="product-title">Bracelets</div>
                    <div class="product-price">From ₪299.00</div>
                    <button type="button" class="btn btn-info add-to-cart">Add To Bag</button>
                </div>
                <div class="product">
                    <img src="../public/images/bracelets/icon_bracelet2.avif" alt="braceletsImg">
                    <div class="product-title">Bracelets</div>
                    <div class="product-price">From ₪299.00</div>
                    <button type="button" class="btn btn-info add-to-cart">Add To Bag</button>
                </div>
                <div class="product">
                    <img src="../public/images/bracelets/icon_bracelet3.avif" alt="braceletsImg">
                    <div class="product-title">Bracelets</div>
                    <div class="product-price">From ₪299.00</div>
                    <button type="button" class="btn btn-info add-to-cart">Add To Bag</button>
                </div>
                <div class="product">
                    <img src="../public/images/bracelets/icon_bracelet4.avif" alt="braceletsImg">
                    <div class="product-title">Bracelets</div>
                    <div class="product-price">From ₪299.00</div>
                    <button type="button" class="btn btn-info add-to-cart">Add To Bag</button>
                </div>
                <div class="product">
                    <img src="../public/images/bracelets/icon_bracelet5.avif" alt="braceletsImg">
                    <div class="product-title">Bracelets</div>
                    <div class="product-price">From ₪299.00</div>
                    <button type="button" class="btn btn-info add-to-cart">Add To Bag</button>
                </div>
                <div class="product">
                    <img src="../public/images/bracelets/icon_bracelet6.avif" alt="braceletsImg">
                    <div class="product-title">Bracelets</div>
                    <div class="product-price">From ₪299.00</div>
                    <button type="button" class="btn btn-info add-to-cart">Add To Bag</button>
                </div>
                <div class="product">
                    <img src="../public/images/bracelets/icon_bracelet7.avif" alt="braceletsImg">
                    <div class="product-title">Bracelets</div>
                    <div class="product-price">From ₪299.00</div>
                    <button type="button" class="btn btn-info add-to-cart">Add To Bag</button>
                </div>
                <div class="product">
                    <img src="../public/images/bracelets/icon_bracelet8.avif" alt="braceletsImg">
                    <div class="product-title">Bracelets</div>
                    <div class="product-price">From ₪299.00</div>
                    <button type="button" class="btn btn-info add-to-cart">Add To Bag</button>
                </div>
            </div>


        </section>

        <section id="contact">
            <h2>Contact Us</h2>
            <p>Have questions? Reach out to us at <a href="mailto:info@ntlcjewelry.com">info@ntlcjewelry.com</a> or call us at (123) 456-7890.</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 NTLC Jewelry. All rights reserved.</p>
    </footer>

    <div id="cart" class="cart">
        <h2>Shopping Cart</h2>
        <ul id="cart-items"></ul>
        <p>Total: $<span id="cart-total">0</span></p>
        <button id="checkout">Checkout</button>
    </div>

    <script src="jewelry.js"></script>
</body>
</html>
