<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>NTLC Jewelry</title>
    <link href="./jewelry.css" rel="stylesheet">
</head>
<body>
    <header>
        <h1>NTLC</h1>
        <div class="icon-container">
            <img class="head-icons" src="./images/cart-icon.png" alt="Cart Icon">
            <img class="head-icons" src="./images/search-icon.png" alt="Search Icon">
            <img class="head-icons" src="./images/user-icon.png" alt="User Icon" id="userIcon">
        </div>

        </header>

        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="#shop">Shop</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>


    <main>
        <section id="home" class="hero">
            <div class="hero-content">
                <h2>Welcome to NTLC Jewelry</h2>
                <p>Your one-stop shop for exquisite jewelry pieces. Explore our collection and find the perfect piece to adorn yourself or your loved ones.</p>
            </div>
        </section>

        <section id="about">
            <h2>About Us</h2>
            <p>At NTLC Jewelry, we pride ourselves on offering high-quality, handcrafted jewelry. Our artisans are dedicated to creating unique designs that stand the test of time.</p>
        </section>
        
        
        
        <section id="shop">
            <h2>Our Collection</h2>
            <% for(i=0; i < jewelry.length; i++) { %>
            
            <jewelry>    
            <div class="collection-item">
                <div class="collection-item-grid">
                    <img src="./images/necklaces/icon_necklace1.avif" alt="Necklaces Image">
                    <img src="./images/necklaces/icon_necklace4.avif" alt="Necklaces Image">
                    <img src="./images/necklaces/icon_necklace3.avif" alt="Necklaces Image">
                </div>
               <jewelryName> <h3>Necklaces</h3></jewelryName>
                <p>Discover our stunning range of necklaces, perfect for any occasion.</p>
            </div>
          </jewelry>
          <% } %>

        </section>

        <section id="contact">
            <h2>Contact Us</h2>
            <p>Have questions? Reach out to us at <a href="mailto:info@ntlcjewelry.com">info@ntlcjewelry.com</a> or call us at (123) 456-7890.</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 NTLC Jewelry. All rights reserved.</p>
    </footer>

    <script src="/routes/jewelry.js"></script>
</body>
</html>
