/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FBF9F1;
    color: #333;
  }
  
  header {
    background-color: #FBF9F1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    color: #333;
    margin: 0;
   
  }
  
  .icon-container {
    display: grid;
    gap: 1rem;
  }
  
  .head-icons {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .head-icons:hover {
    transform: scale(1.2);
  }
  
  /* Navigation Styles */
  nav {
    background-color: #92C7CF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav li {
    margin: 0;
  }
  
  nav a {
    display: block;
    padding: 1em;
    color: white;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s;
  }
  
  nav a:hover {
    background-color: #555;
  }
  
  /* Footer Styles */
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
  }
  
  main {
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  section {
    margin-bottom: 40px;
    text-align: center;
  }
  
  section h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
  }
  
  section p {
    font-size: 1.2em;
    color: #555;
  }
  
  /* Hero Section */
  .hero {
    background: url('./images/hero-image.jpg') no-repeat center center/cover;
    color: white;
    padding: 100px 20px;
    text-align: center;
  }
  
  .hero-content {
    background-color: #E5E1DA;
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
  }
  
  /* Collection Styles */
  .collection-item {
    margin-bottom: 40px;
    text-align: center;
  }
  
  .collection-item-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  
  .collection-item-grid img {
    width: 100%;
    height: 300px; /* You can adjust this height as needed */
    object-fit: contain; /* Change to contain to prevent cutting off */
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
  }
  
  .collection-item-grid img:hover {
    transform: scale(1.05);
  }
  
  .collection-item h3 {
    font-family: 'Playfair Display', serif;
    font-size: 1.8em;
    color: #444;
  }
  
  .collection-item p {
    font-size: 1em;
    color: #666;
  }

  .text-continer{

    background-color: #E5E1DA;
    padding: 20px;
    padding-bottom: 10px;
    
  }
  #cost{
    padding: 20px;
  }
  #element{
    display: flex;
    padding: 12px 0;
    flex-direction: row;
    border-top: 1px solid #000;
    align-items: center;
  }
  
  #express-shipping{
    margin-right: 7px;
    width: 34px;
  }
  